{% extends 'layout.html' %}

{% block content %}

    <div class="form-signin">
        <!-- форма авторизации -->
        <form action="{% url 'login' %}" method="post">{% csrf_token %}
            <h1 class="row h3 mt-5 mb-3 me-1 fw-normal justify-content-end">{{ title }}</h1>
            <div class="form-floating">
                {{ form.username }}
                {{ form.username.label_tag }}
            </div>
            <div class="form-floating">
                {{ form.password }}
                {{ form.password.label_tag }}
            </div>
            <!--
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            -->
            <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
        </form>
    </div>

{% endblock %}